@charset "UTF-8";

html {
    font-size: 100%;
}

body {
    font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    background-color: #EAEAEA;
    font-size: 25px;
    color: #80564A;
}

/* ヘッダー */
#header{
    height:140px ;
    width:1920px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#ff9E3B;
    color:#fff5e5;
    font-size: 50px;
    font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  }
  
  /*ヘッダーナビ  */
  nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
  }
  nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff5e5;
    padding:10px;
    transition:all 0.3s;
  }
  nav ul li.current a,
  nav ul li a:hover{
    color: #17b384; 
  }
  

.breadcrumb {
    margin: 0;
    padding-top: 20px;
    list-style: none;
}

.breadcrumb li {
    display: inline;
    list-style: none;
    font-weight: normal;
    font-size: 25px;
}

.breadcrumb li:after {
    content: '>';
    padding: 0 0.2rem;
    color: #17B384;
}

.breadcrumb li:last-child:after {
    content: '';
}

.breadcrumb li a {
    text-decoration: none;
    color: #17B384;
}

.breadcrumb li a:hover {
    text-decoration: underline; 
}


.content {
    display: flex;
    padding-top: 21px;
    padding-bottom: 80px;
    padding-left: 60px;
}

.content img {
    width: 900px;
    height: 640px;
    object-fit: cover;
}

.item {
    padding-left: 75px;
    width: 825px;
    height: 433px;
}

.item h1 {
    text-align: center;
    /* padding-left: 362px; */
    font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 56px;
}

.item p {
    padding-top: 18px;
}

.hr {
    padding-left: 60px;
    width: 1800px;
}

.location {
    display: flex;
    padding-top: 27px;
    padding-bottom: 74px;
    padding-left: 60px;
}

.location_map .h1 {
    font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 56px;

}

.location_map iframe{
    width: 900px;
    height: 580px;
    object-fit: cover;
}

.location_info {
    padding-top: 84px;
    padding-left: 50px;
    width: 850px;
    height: 473px;
}

/* フッダー装飾 */
#footer{
    position: absolute;
    height: 200px ;/*高さ指定*/
    width: 1920px ;/*横幅指定*/
    left: -4px ;
    align-items: center ;
    background:#ff9E3B ;
    text-align: center;
    font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 32px;
  }
  small{
    background:#ff9E3B;
    color:#fff5e5;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }