@charset "utf-8";

/* ヘッダー */
#header{
  height:140px ;
  width:1920px ;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background:#ff9E3B;
  color:#fff5e5;
  font-size: 50px;
  font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
}

/*ヘッダーナビ  */
nav ul{
  list-style: none;
  display: flex;
  justify-content: center;
}
nav ul li a{
  display: block;
  text-decoration: none;
  color: #fff5e5;
  padding:10px;
  transition:all 0.3s;
}
nav ul li.current a,
nav ul li a:hover{
  color: #17b384; 
}

/* カルーセル */
.carousel{
  width:1920px !important;  /*サイズ指定*/
  margin-bottom: 30px !important;
  position: absolute;
  left: 0px;
}
.carousel img{
  width: 1920px !important;
  height: 940px !important;
}

/* 分野選択 */
.field-select {
  display: flex;
  margin-left: 70px !important;
  position: absolute;
  top: 1140px;
  left: 35px;
}
.item img {
  width: 400px;
  height: 300px;
  margin-right: 40px !important;
  margin-bottom: 30px !important;
}
.item img:hover{
  opacity: 0.6;
  transition-duration: 0.3s;
}

/* ライターページ */
#writer {
  position: absolute;
  top: 1540px;
  left: 260px;
  width: 1400px;
  height: 220px;
}
#writer img:hover{
  opacity: 0.6;
  transition-duration: 0.3s;
}

/* フッダー装飾 */
#footer{
  position: absolute;
  height: 200px ;/*高さ指定*/
  width: 1920px ;/*横幅指定*/
  top: 1860px ;
  left: -4px ;
  align-items: center ;
  background:#ff9E3B ;
  text-align: center;
  font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  font-size: 32px;
}
small{
  background:#ff9E3B;
  color:#fff5e5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}