@charset "utf-8";
body {
    font-family: YuGothic,'Yu Gothic','ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    background-color: #EAEAEA;
    font-size: 25px;
    color: #80564A;
}

h1 {
    font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
    font-size: 56px;
}

.sentence{
  padding-top: 20px;
}

.icon_frame2 {
    width: 450px;
    height: 450px;
    border: 3px solid #80564A;
    border-radius: 50%;
    border-color: #80564A;
    background-color: #FFF5E5;
}

.icon_img{
    width: 450px;
    height: 450px;
}
.icon_img img:hover{
  opacity: 0.6;
  transition-duration: 0.3s;
}

  #a-1{
    text-align: center;
    width: 450px;
    position: absolute ;
    top: 222px ;
    left: 270px ;
  }

  #b-1{
    text-align: center;
    width: 450px;
    position: absolute !important;
    top: 222px !important;
    left: 1200px !important;
  }

  #a-2{
    text-align: center;
    width: 450px;
    position: absolute !important;
    top: 1050px !important;
    left: 270px !important;
  }

  #b-2{
    text-align: center;
    width: 450px;
    position: absolute !important;
    top: 1050px !important;
    left: 1200px !important;
  }

  a{
    font-family: 'メイリオ', Meiryo,'ヒラギノ角ゴシック','Hiragino Sans', sans-serif;
    background-color: #EAEAEA;
    font-size: 25px;
    color: #80564A;
    text-decoration: none;

  }
  a:hover{
    color: #17b384; 
    text-decoration: underline;

  }

  